BasedOnStyle: Microsoft


IndentWidth: 3
ContinuationIndentWidth: 1

AllowShortFunctionsOnASingleLine: All

AlignAfterOpenBracket: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortCaseLabelsOnASingleLine: true