BasedOnStyle: Microsoft


IndentWidth: 3
ContinuationIndentWidth: 1


BinPackArguments: true

AlignAfterOpenBracket: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortCaseLabelsOnASingleLine: true

AlignOperands : true